<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="@Th_ Archit3ct..">
    <link rel="icon" href="">

    <title> Rabbi Tutors -
            {% block head_title %}
                Professional Tutoring Organization
            {% endblock %}
    </title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

</head>

<body>
  <link href="{% static 'homestyle.css'%}" rel="stylesheet">
  <script type='text/javascript' src='{% static 'jquery.js' %}'></script>
  <script type='text/javascript' src='{% static 'jquery-migrate.min.js' %}'></script>

  <header id="masthead" class="site-header" role="banner">

  {% block header %}

  {% endblock %}

  <div class="navigation-top">
    <div class="wrap">
      <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Top Menu">
        <button class="menu-toggle" aria-controls="top-menu" aria-expanded="false">
            <svg class="icon icon-bars" aria-hidden="true" role="img"> <use href="#icon-bars" xlink:href="#icon-bars"></use> </svg>
            <svg class="icon icon-close" aria-hidden="true" role="img"> <use href="#icon-close" xlink:href="#icon-close"></use> </svg>Menu
        </button>

  <div class="menu-top-menu-container">
		<ul id="top-menu" class="menu">
			<li id="menu-item-18"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18">
                <a href="{% url 'homepage' %}">Home</a></li>
			<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                <a href="/accounts/login/?next=/tutor/portal/">Tutors</a></li>
            <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                <a href="/accounts/login/?next=/client/portal/">Clients</a></li>
			<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                <a href="#about">About</a></li>
			<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
                <a href="#contact">Contact Us</a></li>
		</ul>
	</div>

			<a href="#content" class="menu-scroll-down"><svg class="icon icon-arrow-right" aria-hidden="true" role="img">
                <use href="#icon-arrow-right" xlink:href="#icon-arrow-right"></use> </svg>
                <span class="screen-reader-text">Scroll down to content</span></a>
	</nav><!-- #site-navigation -->
				</div><!-- .wrap -->
			</div><!-- .navigation-top -->
</header>

    <div>
      <div class="site-content-contain">
      	<div id="content" class="site-content">

      	<div id="primary" class="content-area">
      		<main id="main" class="site-main" role="main">
            <!--article id="post-7" class="twentyseventeen-panel  post-7 page type-page status-publish hentry" -->
              <!--div class="panel-content" id="content"-->
                <div class="wrap">
                {% block content %}{% endblock %}
              </div>
            <!--/div-->
            <!--/article-->
          </main>
        </div>
        </div>
      </div>
          <script type='text/javascript' src='{% static 'global.js' %}'></script>
    </div>

    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'ie10-viewport-bug-workaround.js' %}"></script>

</body>
</html>
