<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="@Th_ Archit3ct..">
    <link rel="icon" href="">

    <title> Rabbi Tutors - {% block title %} Professional Tutoring Organization {% endblock %} </title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

</head>

<body>
  <link href="{% static 'homestyle.css'%}" rel="stylesheet">
  <script type='text/javascript' src='{% static 'jquery.js' %}'></script>
  <script type='text/javascript' src='{% static 'jquery-migrate.min.js' %}'></script>

  <header id="masthead" class="site-header" role="banner">

    <div class="custom-header">

      <div class="custom-header-media">
        <div id="wp-custom-header" class="wp-custom-header">
                  <img src="{% static 'images/header.jpg' %}" width="2000" height="1200" alt="Rabbi" /></div>
          </div>
  
    <div class="site-branding">
    <div class="wrap">
  
  
      <div class="site-branding-text">
                <h1 class="site-title"><a href="" rel="home">Rabbi Tutors</a></h1>
  
                <p class="site-description">Professional Tutoring Organization</p>
            </div><!-- .site-branding-text -->
  
  
    </div><!-- .wrap -->
  </div><!-- .site-branding -->
  
  </div><!-- .custom-header -->

  <div class="navigation-top">
    <div class="wrap">
      <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Top Menu">
        <button class="menu-toggle" aria-controls="top-menu" aria-expanded="false">
            <svg class="icon icon-bars" aria-hidden="true" role="img"> <use href="#icon-bars" xlink:href="#icon-bars"></use> </svg>
            <svg class="icon icon-close" aria-hidden="true" role="img"> <use href="#icon-close" xlink:href="#icon-close"></use> </svg>Menu
        </button>

  <div class="menu-top-menu-container">
		<ul id="top-menu" class="menu">
			<li id="menu-item-18"
                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-18">
                <a href="{% url 'homepage' %}">Home</a></li>
			<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                <a href="{% url 'account_login' %}?next={% url 'tutors:portal' %}">Tutors</a></li>
            <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                <a href="{% url 'account_login' %}?next={% url 'clients:portal' %}">Clients</a></li>
			<li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                <a href="#about">About</a></li>
			<li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21">
                <a href="#contact">Contact Us</a></li>
		</ul>
	</div>

			<a href="#content" class="menu-scroll-down"><svg class="icon icon-arrow-right" aria-hidden="true" role="img">
                <use href="#icon-arrow-right" xlink:href="#icon-arrow-right"></use> </svg>
                <span class="screen-reader-text">Scroll down to content</span></a>
	</nav><!-- #site-navigation -->
				</div><!-- .wrap -->
			</div><!-- .navigation-top -->
</header>

<div class="site-content-contain">
  <div id="content" class="site-content">

  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
        <div class="wrap">
          {% block body %}
          
          {% endblock %}
        </div>
    </main>
  </div>
  </div>
  {% include 'footer.html' %}
</div>

    <script type='text/javascript' src='{% static 'global.js' %}'></script>

    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'ie10-viewport-bug-workaround.js' %}"></script>

</body>
</html>
