{% extends 'common.html' %}

{% load staticfiles %}


{% block body %}

		<article id="post-7" class="twentyseventeen-panel  post-7 page type-page status-publish hentry" >

			<div class="panel-content" id="home">
				<div class="wrap">
					<header class="entry-header">
						<h2 class="entry-title">Home</h2>
					</header><!-- .entry-header -->

					<div class="entry-content">
						<p>Want to <a href="/accounts/signup/?next=/tutor/portal/" title="Register as a tutor">WORK AS A TUTOR</a> or
                            <a href="/accounts/signup/?next=/client/portal/"  title="Register as a client">HIRE A TUTOR</a>. Rabbi Tutors is the right place for you.
                            Registration is only a click away..Join our large network in the country and be part of this brilliant undertaking.</p>
					</div><!-- .entry-content -->
				</div><!-- .wrap -->
			</div><!-- .panel-content -->

		</article><!-- #post-## -->


	<article id="panel1" class="twentyseventeen-panel  post-11 page type-page status-publish has-post-thumbnail hentry" >

		<div class="panel-content" id="about">
			<div class="wrap">
				<header class="entry-header">
					<h2 class="entry-title">About</h2>
				</header><!-- .entry-header -->

				<div class="entry-content">
					<p>Rabbi tutoring group is an organization conceived by a brilliant young man together with three other
                        friends who had a desire to impact the lives of other young men, from both primary and high schools, by
                        enabling them to achieve their dreams and turning out to be leaders.
                        Rabbi’s vision acts as a roadmap and framework to achieving a meaningful impact to students, parents and
                        society at large, our aim being to constantly enable students to achieve and surpass their academic goals and
                        become exceptional leaders. As Rabbi we create the best environment for employees and tutors to dispense their
                        duties, and to create forums for impacting the less privileged students in the society.
</p>
				</div><!-- .entry-content -->


			</div><!-- .wrap -->
		</div><!-- .panel-content -->

	</article><!-- #post-## -->

<article id="panel2" class="twentyseventeen-panel  post-8 page type-page status-publish has-post-thumbnail hentry" >

	<div class="panel-content" id="contact">
		<div class="wrap">
			<header class="entry-header">
				<h2 class="entry-title">Contact Us</h2>
			</header><!-- .entry-header -->

			<div class="entry-content">
                <p>You can contact us on:</p>
					<ul  class="list-group">
						<li>Telephone : +254 721 915 132</li>
						<li>Email: info@rabbitutors.co.ke</li>
					</ul>

			</div><!-- .entry-content -->


		</div><!-- .wrap -->
	</div><!-- .panel-content -->

</article><!-- #post-## -->

{% endblock %}
