{% extends 'common.html' %}
{% load staticfiles %}


{% block body %}
  <h4>Registered Students</h4>
    {% if students %}
      <ul>
        {% for student in students %}
          <li><a href="/students/profile/?id={{student.student_id}}">{{ student.First_Name }} {{ student.Surname }} in Class {{ student.Class }} at {{ student.School }}</a></li>
        {% endfor %}
      </ul>
      <p>Want to add another student?<a href="{% url 'students:biodata' %}"> Let's Go!</a></p>
    {% endif %}
{% endblock %}
