{% extends 'common.html' %}
{% load staticfiles %}

{% block body %}
    <div class="jumbotron">
        <h2 class="form-signin-heading">Profile Registration</h2>
            <form role="form" action="{{ biodata }}" method="post">
                {% csrf_token %}
                 <!-- Display form -->
                {{ biodataform.as_p }}
            <input name="next" type="submit" value="Next" />
            </form>
    </div>
{% endblock %}