{% extends 'common.html' %}
{% load staticfiles %}

{% block body %}
    <div class="jumbotron">
        <h2 class="form-signin-heading">Select Subjects</h2>
        <span>Enter the Lessons information for the student below</span><br><br>
            <form role="form" action="{% url 'students:lessons' %}" method="post">
                {% csrf_token %}
                 <!-- Display form -->
                {{ lessonsform.as_p }}
            <input name="submit" type="submit" value="Submit" />
            </form>
    </div>
{% endblock %}
