{% extends 'common.html' %}
{% load staticfiles %}

{% block body %}
    <script src="{% static 'maps/google_analytics.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYZrdoVwbn-3AOIobvIbimiX3lk2z0wTU&sensor=false" type="text/javascript"></script>
    <script src="{% static 'maps/locate.js' %}"></script>

    <div style='margin:40px 60px'>
        <form name=f role="form" action="." onsubmit="showAddress(this.address.value); return false">
                {% csrf_token %}
            <div>Is this your locality?</div>
            <div style='font-size:0.8em;margin-bottom:16px'>What is the location from which you will be providing tutoring services?</div>
            <input type='text' size='60' name='address'/>
            <input type='submit' value='Search'/>
	    </form>


	    <div>&nbsp;</div>
	    <div id="map_canvas" style="width:400px;height:247px"></div>

	    <div style='margin-top:20px;'>&nbsp;</div>
	    <div id='missing' style='font-size:1.5em;display:none'>Oops, we can't find that, try again?</div>
	    <form name=r role="form" action="{{ location }}" method="post" style='font-size:1.3em;display:none'>
                {% csrf_token %}
		    Latitude: <input name='lat' type='text' style='font-size:1.3em;' size='16' required/><br/>
            Longitude: <input name='long' type='text' style='font-size:1.3em;' size='16' required/><br/>
            <input name='next' type='submit' value='Next'/>
        </form>
    </div>
{% endblock %}