{% extends 'common.html' %}
{% load staticfiles %}

{% block body %}
    <div class="jumbotron">
        <h2 class="form-signin-heading">Media and File Uploads</h2>
            <form role=="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <!-- Display form -->
                {{ mediaform.as_p }}
            <input name="next" type="submit" value="Next" />
            </form>
</div>
{% endblock %}