{% extends 'common.html' %}
{% load staticfiles %}

{% block body %}
    <div class="jumbotron">
        <h2 class="form-signin-heading">Professional and Social Profile</h2>
            <form role="form" action="{{ prosocialdata }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <!-- Display form -->
                {{ prosocialform.as_p }}
            <input name="next" type="submit" value="Next" />
            </form>
    </div>
{% endblock %}