{% if app == 'tutors' %}
    {% extends 'tutors/common.html' %}
    
{% elif app == 'clients' %}
    {% extends 'clients/common.html' %}
{% endif %}

{% load staticfiles %}

{% block body %}
    <div class="jumbotron">
        <h2 class="form-signin-heading">Edit Your Profile</h2>
            <form role="form" action="{{ app + ':subjects' }}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <!-- Display form -->
                {{edit_profile_form.as_p}}
            <input name="next" type="submit" value="Submit" />
            </form>
    </div>
{% endblock %}