{% extends "rango/base_bootstrap.html" %}
{% block body_block %}
<h1>Verify Your Email</h1>
<p>Log in to your email and click the link from Rabbi Tutors's email to verify your account</p>
{% endblock %}