{% extends 'common.html' %}
{% load staticfiles %}

{% block body %}
    <div class="jumbotron">
        <h2 class="form-signin-heading">Select Subjects</h2>
        <span>Enter the LATEST EXAM SCORE for each of the subjects or leave blank to enter later</span><br><br>
            <form role="form" action="{{ students:scores }}" method="post">
                {% csrf_token %}
                 <!-- Display form -->
                {{ scoresform.as_p }}
            <input name="save" type="submit" value="Save" />
            </form>
    </div>
{% endblock %}
