{% extends 'common.html' %}
{% load staticfiles %}

{% block body %}
    <div class="jumbotron">
        <h2 class="form-signin-heading">Select Subjects</h2>
        <span>Pick at least 1 subject that you did in your KCSE Examination</span><br><br>
            <form role="form" action="{{ subjects }}" method="post">
                {% csrf_token %}
                 <!-- Display form -->
                {% for key, value in inputs.items %}
                    <p><label for="{{ key }}">{{ value }}</label> <input type="checkbox" name="{{ key }}" id="id_{{ key }}"></p>
                {% endfor %}
            <input name="next" type="submit" value="Submit" />
            </form>
    </div>
{% endblock %}