{% extends 'common.html' %}
{% load staticfiles %}

{% block body %}
    <div class="jumbotron">
        <h2 class="form-signin-heading">Select Subjects</h2>
        <span>Pick AT LEAST ONE [1] subject that you did in your KCSE Examination</span><br><br>
            <form role="form" action="{{ students:subjects }}" method="post">
                {% csrf_token %}
                 <!-- Display form -->
                {{ subjectsform.as_p }}
            <input name="next" type="submit" value="Next" />
            </form>
    </div>
{% endblock %}