{% extends 'tutors/common.html' %}
{% load staticfiles %}

{% block description %}Add Lesson {% endblock %}

{% block body %}
    <h4>Add Lesson</h4>
    <form role="form" name="add_lesson" method="post" action="{% url 'classes:add_lesson' %}">
        {% csrf_token %}
      <table>
        {{ add_lesson_form.as_table }}
      </table>
    <input type="submit" value="Add Lesson" />
    </form>
{% endblock %}