{% extends 'tutors/common.html' %}
{% load staticfiles %}

{% block description %} Classes {% endblock %}

{% block body %}
    <h4>Classes</h4><a href="{% url 'classes:add_lesson' %}">Add new Lesson</a>
      <table>
        <tr>
          <th>Date</th><th>Start Time</th><th>End Time</th><th>Subject</th><th>Topic</th>
        </tr>

        <tr>
          <td>Sample</td><td>Sample</td><td>Sample</td><td>Sample</td><td>Sample</td>
        </tr>
      </table>
{% endblock %}