{% extends 'tutors/common.html' %}
{% load staticfiles %}

{% block description %} grades data {% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2 class="form-signin-heading">KCSE Grades</h2>
            <form role=="form" action="" method="post">
                {% csrf_token %}
                 <!-- Display form -->
                {{ gradesdataform.as_p }}
            <input name="submit" type="submit" value="Submit" />
            </form>
</div>
{% endblock %}