{% extends 'tutors/common.html' %}
{% load staticfiles %}

{% block description %} home {% endblock %}

{% block body %}
    {% if no_profile %}
        <p>You haven't created your profile,<a href="{% url 'tutors:biodata' %}"> click here to add your details</a></p>
    {% elif no_grades %}
        <p>You have not added you KCSE Grades,<a href="{% url 'tutors:subjects' %}"> click here to add</a></p>
    {% else %}
    <div class="jumbotron">
    Welcome: Tutor Name<br>

    Incoming Lessons<br>
    <table>
        <tr><th>Date</th><th>Lesson Subject</th><th>Start Time</th><th>Duration</th><th>Student</th><th>Level</th><th>Place</th><th>Client Contact</th>
        <tr><tr><td></td><td></td></tr>
    </table>
    Missed Lessons<br>
    <table>
        <tr><th>Date</th><th>Lesson Subject</th><th>Start Time</th><th>Duration</th><th>Student</th><th>Level</th><th>Place</th><th>Client Contact</th>
        <tr><tr><td></td><td></td></tr>
    </table>
    Students Performance<br>
    Rating<br>Payment Summary<br>
    </div>
    {% endif %}

{% endblock %}

