{% extends 'tutors/common.html' %}
{% load staticfiles %}

{% block description %} view profile {% endblock %}

{% block body %}
<h3>Tutor Profile</h3><a href="{% url 'tutors:editprofile' %}">edit</a>
    {% if updated %}
        <span>The following item(s) were updated in your profile:</span>
        {% for item in updated %}
            <p>{{ item }}</p>
        {% endfor %}
    {% endif %}
  {% if profile %}
    <h4>Name : {{ name }}</h4>
    <h4>ID Number : {{ idno }}</h4>
    {% if tsc %}
      <h4>TSC Number : {{ tscno }}</h4>
      <h4>TSC Certificate : {{ tsc_cert }}</h4>
    {% else %}  
      <h4>Final Primary School Attended : {{ pri }}</h4>
      <h4>Final High School Attended : {{ sec }}</h4>
      <h4>KCSE Certificate : {{ kcse_cert }}</h4>
    {% endif %}
  <h4>Subjects</h4>
      {% for sub in subjs %}
          <h5>{{ sub }}</h5>
      {% endfor %}
    <h4>Residence</h4>
      <h5>County</h5>
      <h5>Constituency</h5>
      <h5>Town</h5>
    <h4>Occupation : {{ occ }}</h4>
    <h4>Institution / Organization : {{org}}</h4>
    <h4>Religion : {{ relg }}</h4>
    <h4>Contact</h4>
      <h5>Mobile : {{ phone }}</h5>
      <h5>Email : {{ email }}</h5>
    <h4>Gender : {{ gender }}</h4>
  {% else %}
    <p><a href="{% url 'tutors:biodata' %}">You haven't created your profile, click here to add your details</a></p>
  {% endif %}
{% endblock %}
