{% extends 'tutors/common.html' %}
{% load staticfiles %}

{% block description %} edit profile {% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2 class="form-signin-heading">Edit Your Profile</h2>
            <form role="form" action="{% url 'tutors:editprofile' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 <!-- Display form -->
                {{edit_profile_form.as_p}}
                <p><label for="password">Enter Your Password To Confirm</label></label><input name="password" type="password"></p>
            <input name="Update" type="submit" value="Update" />
                <input name="Cancel" type="submit" value="Cancel" />
            </form>
    </div>
{% endblock %}