{% extends 'tutors/common.html' %}
{% load staticfiles %}

{% block description %} Allocated Students {% endblock %}

{% block body %}
  <h4>Allocated Students</h4>
    {% if students %}
      <ul>
        {% for student in students %}
        <form role="form" name="student" method="post" action="{% url 'students:viewprofile' %}">
            {% csrf_token %}
          <input type="hidden" name="student_id" value="{{ student.student_id }}"/>
          <input type="hidden" name="app" value="tutors"/>
          <input type="submit" value="{{ student.First_Name }} {{ student.Surname }} in Class {{ student.Class }} at {{ student.School }}" />
        </form>
        {% endfor %}
      </ul>
        {% else %}
        <span>You have no student allocated yet</span>
    {% endif %}
{% endblock %}
