{% extends 'tutors/common.html' %}
{% load staticfiles %}

{% block description %} Student Profile {% endblock %}

{% block body %}
    <h1>Student Profile</h1>
      <h4>Name : {{ name }}</h4>
      <h4>School : {{ school }}</h4>
      <h4>Class : {{ class }}</h4>
      <h4>Age : {{ dob }}</h4>
      <h4>Religion : {{ relg }}</h4>
      <h4>Subjects Taking</h4>
      <table>
        <tr>
          <th>Subject Titles</th><td>Sample</td>
        </tr>
      </table>
{% endblock %}
