{% extends 'clients/common.html' %}
{% load staticfiles %}

{% block description %} Home {% endblock %}

{% block body %}
  {% if profile %}
    {% if students %}
      {% if no_subjects %}
        <h5>The following registered students have no subjects selected for tutoring.</h5>
        {% for student in no_subjects %}
          <p>{{ student.First_Name }} {{ student.Surname }} in Class {{ student.Class }} at {{ student.School }} on {{ student.Subjects }}<a href="/students/subjects/?id={{student.student_id}}"> >> <strong>Click to add subjects</strong></a></p>
        {% endfor %}
      {% elif no_lesson_times %}
          <h5>The following registered students have no lesson Times selected.</h5>
          {% for student in no_lesson_times %}
            <form role="form" name="student" method="post" action="{% url 'students:lessons' %}">
                {% csrf_token %}
              <input type="hidden" name="student_id" value="{{ student.student_id }}"/>
              <input type="hidden" name="level" value="{{ student.Level }}"/>
              {{ student.First_Name }} {{ student.Surname }} in Class {{ student.Class }} at {{ student.School }} on {{ student.Subjects }} 
              <input type="submit" value="Click to add Lesson Times" />
          </form>
          {% endfor %}
      {% else %}
          <div class="jumbotron">
              <h4>Tutoring Fee Information</h4>
              <table>
                <tr>
                  <th>Amount Paid</th><td></td>
                </tr>
                <tr>
                  <th>Amount Owed</th><td></td>
                </tr>
                <tr>
                  <th>Balance</th><td></td>
                </tr>
              </table>
          </div>
    {% endif %}
    {% else %}
        <p><a href="{% url 'students:biodata' %}">You haven't registered a student, click here to add</a></p>
    {% endif %}
  {% else %}
      <p><a href="{% url 'clients:biodata' %}">You haven't created your profile, click here to add your details</a></p>
  {% endif %}
{% endblock %}
