{% extends 'clients/common.html' %}
{% load staticfiles %}

{% block description %} View Profile {% endblock %}

{% block body %}
<h3>Client Profile</h3><a href="{% url 'clients:editprofile' %}">edit</a>
  {% if profile %}
    <h4>Name : {{ name }}</h4>
    <h4>ID Number : {{ idno }}</h4>
    <h4>Residence</h4>
      <h5>County</h5>
      <h5>Constituency</h5>
      <h5>Town</h5>
    <h4>Occupation : {{ occ }}</h4>
    <h4>Institution / Organization : {{org}}</h4>
    <h4>Religion : {{ relg }}</h4>
    <h4>Contact</h4>
      <h5>Mobile : {{ phone }}</h5>
      <h5>Email : {{ email }}</h5>
    <h4>Gender : {{ gender }}</h4>
  {% else %}
    <p><a href="{% url 'clients:biodata' %}">You haven't created your profile, click here to add your details</a></p>
  {% endif %}
{% endblock %}
