{% extends 'clients/common.html' %}
{% load staticfiles %}

{% block description %} Registered Students {% endblock %}

{% block body %}
  <h4>Registered Students</h4>
    {% if students %}
      <ul>
        {% for student in students %}
        <form role="form" name="student" method="post" action="{% url 'students:viewprofile' %}">
            {% csrf_token %}
          <input type="hidden" name="student_id" value="{{ student.student_id }}"/>
          <input type="hidden" name="app" value="clients"/>
          <input type="submit" value="{{ student.First_Name }} {{ student.Surname }} in Class {{ student.Class }} at {{ student.School }}" />
        </form>
        {% endfor %}
      </ul>
      <p>Want to add another student?<a href="{% url 'students:biodata' %}"> Let's Go!</a></p>
        {% else %}
        <p><a href="{% url 'students:biodata' %}">You haven't registered a student, click here to add</a></p>
    {% endif %}
{% endblock %}
