{% extends 'clients/common.html' %}
{% load staticfiles %}

{% block description %} Tutors {% endblock %}

{% block body %}
    {% if students %}
        <p><a href="{% url 'students:biodata' %}">You haven't registered a student, click here to add</a></p>
    {% elif unrated_tutors %}
        <p>All Tutors have been rated</p>
    {% else %}
        {% for each_tutor in assigned_tutors %}
            <form role="form" name="tutor" method="post" action="{% url 'tutors:profile' %}">
                {% csrf_token %}
                <input type="hidden" name="tutor_id" value="{{ each_tutor.Tutor_ID }}"/>
                    <p><input type="submit"
                              value="{{ each_tutor.Surname }} {{ each_tutor.First_Name }} allocated to {% for tutor, data in tutor_student.items %}{% if tutor == each_tutor.Tutor_ID %}{% for student, subjs in data.items %}{% for studt in assigned_students %}{% if studt.student_id == student %}{{ studt.Surname }} {{ studt.First_Name }} on {% for sub in subjs %} {{ sub }}, {% endfor %}{% endif %}{% endfor %}{% endfor %}{% endif %}{% endfor %}"/>
                    </p>
            </form>
        {% endfor %}
    {% endif %}
{% endblock %}