{% extends 'clients/common.html' %}
{% load staticfiles %}

{% block description %} Tutor's profile {% endblock %}

{% block body %}
<h3>Tutor Profile</h3><a href="{% url 'classes:rate_tutor' %}">Rate this tutor</a>
    <h4>Name : {{ name }}</h4>

    <h4>Residence</h4>
      <h5>County</h5>
      <h5>Constituency</h5>
      <h5>Town</h5>
    <h4>Religion : {{ relg }}</h4>
    <h4>Contact</h4>
      <h5>Mobile : {{ phone }}</h5>
      <h5>Email : {{ email }}</h5>
    <h4>Gender : {{ gender }}</h4>
{% endblock %}
